body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 30px;
  background: #f2f2f2;
}

input {
  margin: 10px;
  padding: 10px;
  width: 200px;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

.page {
  max-width: 400px;
  margin: auto;
  background:#f2a59c;
  padding: 20px;
  border-radius: 5px;
}
